CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=quant_user
CLICKHOUSE_PASSWORD=quant_pass
CLICKHOUSE_DATABASE=quant

OIDC_CLIENT_ID=69ba3eccdb057f1398c742c5
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=http://127.0.0.1:8501
